{% extends "index.html" %}

{% block content %}

	<div class="page-header"><p>
       <h1>Export all relevant CSVs from a project to use in BI tools</h1>
  </div>

     
  <div id="content">
    <h3>Export all relevant CSVs from a project to use in BI tools</h3>
    <form action="{{ url_for('bi_tool_export') }}" method='post' >
      <input type="text" name="url" class="form-control" placeholder="Daylight Project URL" required autofocus>
      <input type="text" name="folder_name" class="form-control" placeholder="Folder to save CSVs to (Specify full path to folder e.g. ~/Documents/.../<FOLDER NAME>)" required>
      <input type="number" name="term_count" class="form-control" placeholder="Number of top terms to pull from project (default 100)">
      <input type="number" name="skt_limit" class="form-control" placeholder="Max number of key terms to display per subset (default 20)"> 
      <input type="checkbox" name="doc_term">Export doc-term association table<br>
      <input type="checkbox" name="doc_subset" checked="checked">Export doc-subset association table<br>
      <input type="checkbox" name="terms" checked="checked">Export top terms with exact and conceptual counts<br>
      <input type="checkbox" name="themes" checked="checked">Export themes table<br>
      <input type="checkbox" name="skt" checked="checked">Export subset key terms table<br>
      <input type="checkbox" name="sentiment">Export sentiment table<br>
      <input type="checkbox" name="drivers" checked="checked">Export score drivers table<br>
      <input type="checkbox" name="driver_subsets" checked="checked">Export score drivers with subsets table<br>
      <input type="text" name="driver_subset_fields" class="form-control" placeholder="Which fields (comma delimited) to user for subsets. Default=ALL">
      <input type="checkbox" name="topic_drive">Included shared/top concepts as well as auto defined drivers<br>
      <input type="checkbox" name="sdot">Export score drivers over time<br>
      <div style="margin-left: 40px">
        End Date: <input type="text" name="sdot_end" class="form-control" placeholder="Last date to calculate sdot MM/DD/YYYY - algorithm works moving backwards in time. Will use maximum if not provided"><br>
        Iterations: <input type="text" name="sdot_iterations" value=7 class="form-control" placeholder="Number of over time samples."><br>
        Iteration Size: <input type="text" name="sdot_range" value="" class="form-control" placeholder="Size of each sample: M,W,D. If none given, range type will be calculated for best fit."><br>
        Date Field Name: <input type="text" name="sdot_date_field" value="" class="form-control" placeholder="The name of the date field. If none, the first date field will be used."><br>
      </div>

      <input class="btn btn-lg btn-primary btn-block" type="submit" value="Export"/>

      <br>
      <span id="errorLogin">
          {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
      </span>
    </form>
  </div>

{% endblock %}
