{% extends "index.html" %}

{% block content %}

<input name="start" type="submit" value="Start">

<style>
  #data {
    text-align: center;
  }
</style>

<script src="http://code.jquery.com/jquery-latest.js"></script>

<script>
 $(function() {
    //CODE FOR MERGE
    //CODE FOR TERM_UTILS_SEARCH STARTS HERE
    $('input[name=start]').bind('click', function() {
    	var source = new EventSource('/boilerplate_stream');
    	source.onmessage = function(e) {
    		console.log("11111")
    		$("#data").text(e.data);
  		}
  });
});

</script>


<script>
if (!!window.EventSource) {
  var source = new EventSource('/');
  source.onmessage = function(e) {
    $("#data").text(e.data);
  }
}
</script>

<div id="data">nothing received yet</div>

{% endblock %}