<script src="http://code.jquery.com/jquery-latest.js"></script>

<script>
if (typeof String.prototype.startsWith != 'function') {
  // see below for better implementation!
  String.prototype.startsWith = function (str){
    return this.indexOf(str) === 0;
  };
}
</script>

<script>
$(function() {

  var output_fp
  var proj_name
  var account
  $("#data").hide();
  $("#loading2").hide();
	$("#loading").hide();
  $("#step2").hide();
  $("#create_new_project").hide();
  $("#recalc").hide();

  	var source = new EventSource('/boilerplate_stream');
  	source.onmessage = function(e) {
  		var str = e.data.slice(2).slice(0,-1)
 			if (str.startsWith("[")) {
 				$("#loading").show();
        $("#progress").show();
  			$("#progress").text(str)
  		}
  		else {
        $("#step2").show();
        $("#data").show()
        $("#data").height(300)
        window.scrollTo(0,document.body.scrollHeight);
        $("#data").animate({ scrollTop: $("#data")[0].scrollHeight}, 1000);
        $("#create_new_project").show();
        $("#recalc").show();
        $("#create_new_project").attr("disabled", true);
  			$("#data").append(str);
  		}
  	};

  $('input[name=start]').bind('click', function() {
  	console.log("Starting Boilerplate Remover")
    $("#step2").hide();
    $("#new_proj_link").html("");
    $("#create_new_project").hide();
  	$('input[name=start]').attr("disabled", true);
  	$("#data").text("");
    $.getJSON($SCRIPT_ROOT + '/boilerplate_run', {
    	url: $('input[name=url]').val(),
    	window_size: $('input[name=window_size]').val(),
    	use_gaps: $('input[name=use_gaps]').val(),
    	thresh: $('input[name=thresh]').val(),
    	sample_docs: $('input[name=sample_docs]').val()
    }, function(data) {
    	console.log("Finished Boilerplate Remover")
    	output_fp = data['output']
      proj_name = data['name']
      account = data['acct']
    	console.log(output_fp)
      $("#create_new_project").attr("disabled", false);
    	$('input[name=start]').attr("disabled", false);
    	$("#progress").hide();
    	$("#loading").hide();
    });
  });

  $('input[name=new_proj]').bind('click', function() {
    console.log("NEW PROJ BUTTON CLICKED");
    $("#loading2").show();
    $.getJSON($SCRIPT_ROOT + '/boilerplate_new_proj', {
      docs_path: output_fp,
      name: proj_name,
      acct: account,
      recalc: $('input[name=recalc]').is(':checked')
    }, function(data) {
      $("#loading2").hide();
      var start = "Your new project has been created <a href="
      var end = " target='_blank'>here</a>"
      $("#new_proj_link").html(start + data['proj_url'] + end + '<br>')
      window.scrollTo(0,document.body.scrollHeight);
    });
  });

});

</script>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>

{% extends "index.html" %}

{% block content %}

<style> 
 .tooltip-inner {
    text-align:left;
}
</style>

<div class="page-header"><h1>Boilerplate Cleaner</h1></div>

<div id="content">
  <h4>
  This utility will detect and remove boilerplate phrases from a corpus of documents.<br><br>
  When run, a sample of detected boilerplate will be displayed on the screen.
  You may then choose to create a new project with the boilerplate removed, or instead change the
  parameters and run it again to improve the boilerplate detection for your documents.
  </h4>
  <br>
  <div><h4>Step 1: Configure the parameters and review the detected boilerplate</h4></div>
  <br>
  Enter a Daylight project URL (will not be modified; a new cleaned project will be created)
  <input type="text" name="url" class="form-control" placeholder="Daylight Project URL" value="https://daylight.luminoso.com/explore.html?account=admin&projectId=ws9hn" required autofocus>
  <br><br>
  Choose how many sample documents to print
  <a href="#" data-toggle="tooltip" title="A number of sample documents will be printed with the detected boilerplate highlighted in red. This will help you configure the other parameters to catch all of the boilerplate."><img src={{ url_for('static', filename = 'images/questionmark.png') }} width='25px' alt="What is this?"/></a> <br> <input class="form-control" type="number" id="sample_docs" name="sample_docs" value="10"/>
  <br><br>
  Classification Threshold <a href="#" data-toggle="tooltip" title="The number of times a phrase has to appear to be considered boilerplate."><img src={{ url_for('static', filename = 'images/questionmark.png') }} width='25px' alt="What is this?"/></a> <br> <input class="form-control" type="number" min="2" max="20" id="thresh" name="thresh" value="6"/>
  <br><br>
  Window Size <a href="#" data-toggle="tooltip" title="The minimum number of words a phrase has to have in order to be boilerplate. If this is set too high, it may miss things, but if it's set too low, it'll catch common phrases like 'this is' or 'he did not' or the like."><img src={{ url_for('static', filename = 'images/questionmark.png') }} width='25px' alt="What is this?"/></a> <br> <input class="form-control" type="number" min="2" max="50" id="window_size" name="window_size" value="7"/>
  <br><br>
  <input class="checkbox-inline" type="checkbox" id="use_gaps" name="use_gaps" checked/> Allow a gap? <a href="#" data-toggle="tooltip" title="Whether to allow boilerplate phrases to contain gaps: a single word out of each sequence of boilerplate words will be allowed to vary instead of matching exactly, but phrases with gaps will have to match more often."><img src={{ url_for('static', filename = 'images/questionmark.png') }} width='25px' alt="What is this?"/></a>
  <br><br>
  <input name="start" value="Detect Boilerplate" type="submit" class="btn btn-primary btn-lg">
  <img id="loading" height="25px" alt="" src={{ url_for('static', filename = 'images/ajaxSpinner.gif') }}  style="display:none">
  <span id="progress"></span>
  <br><br>
  <div id="data" style="overflow:auto; max-height:300px; border-style: solid; border-width: 1px; padding: 5px 5px 5px 5px"></div>
  <br>
  <div id="step2"><h4>Step 2: Create a new project with the boilerplate removed</h4>
    <div id="create_new_project" style="vertical-align: bottom;"><input name="new_proj" value="Create New Project" type="submit" class="btn btn-primary btn-lg"> <img id="loading2" height="25px" alt="" src={{ url_for('static', filename = 'images/ajaxSpinner.gif') }}  style="display:none"> (or go back to step 1)</div>
    <input type="checkbox" name="recalc" id="recalc" checked> Wait for project to recalculate<br>
    <span id="progress"></span>
    <h3><div id="new_proj_link"></div></h3>
  </div>
  <br>
</div>
{% endblock %}





