<script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type="text/javascript">
 $(function() {
    //CODE FOR MERGE
    //CODE FOR TERM_UTILS_SEARCH STARTS HERE
    $('input[name=dedupe]').bind('click', function() {
        $("#loading").show();
        var statusCode = '<h4>Deduping...please wait</h4>';   
        $('#progress').html(statusCode);
        console.log("load bar started");
        var spaceCode = '<br><br>';  
        $('#space').html(statusCode);
      $.getJSON($SCRIPT_ROOT + '/dedupe', {
        url: $('input[name=url]').val(),
        copy: $('input[name=copy]').is(':checked'),
        reconcile: $('input[name=reconcile]:checked').val()
      }, function(data) {
        $("#progress").hide();
        $("#loading").hide();
     

        var ret = JSON.parse(JSON.stringify(data));

       dupe_num = ret['num'];
       new_project = ret['url'];
       console.log("finished deduping");

        //$('#result').text(w);
        if (new_project) {
          url = 'The backup of your original project is located <a href="'+new_project+'">here</a>'
        } else {
          url = ''
        };
      
        var completedCode = '<h4>Project has finished deduping and recalculating. There were '+dupe_num+' duplicates removed.<br>'+url+'</h4>';

        $('#statusComplete').html(completedCode);

       
      }); //end of function(data) for submitSearchMerge
  
        return false;
      }); 

  });  //end of function document

</script>


{% extends "index.html" %}

{% block content %}

	<div class="page-header"><p>
       <h1>Remove Duplicates from a Project</h1>
    </div>

      <div id="content">
      <h3>Important Notes:</h3>
      <h4>
      <ul>  
      <li>This utility will detect and remove duplicates as well as near-duplicates from a project.</li>
      <li>If your project has more than 40,000 documents, the deduping process will be batched. In this case,
          the deduper will miss many dupes unless your documents have a date field and dupes are likely to be
          located near each other on a timeline. Please contact tobrien@luminoso.com if you have a need to
          dedupe a project with >40,000 documents and does not meet the requirement that dupes are near each other in time.</li>
      </ul>
      </h4>
      <br>
      <form>
        
        <input type="text" name="url" class="form-control" placeholder="Analytics Project URL" required autofocus>
        <input type="checkbox" name="copy" checked> Create a backup copy of the project<br><br>
        Select a method of choosing which single dupe to retain out of each set of near-dupes:<br>
        <input type="radio" name="reconcile" value="random" checked> Random <br>
        <input type="radio" name="reconcile" value="shortest"> Shortest Text <br>
        <input type="radio" name="reconcile" value="longest"> Longest Text <br><br>
        <input class="btn btn-lg btn-primary btn-block" name="dedupe" type="submit" value="Dedupe"/>
        <br>
        <span id="errorLogin">
           {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
        </span>
      </form>
      <p class="text-center">
      <span id="progress">
      </span>
      <span class="space">
      </span>

      <img id="loading" alt="spinning wheel" src={{ url_for('static', filename = 'images/ajax-loader.gif') }}  style="display:none">

      <span id="statusComplete"></span>
      </p>

      </div>

{% endblock %}