
{% extends "index.html" %}

{% block content %}

	<div class="page-header"><p>
       <h1>Remove Subsets over a certain size from a Project</h1>
    </div>
      

      <div id="content">
      <h3>Remove Subsets over a certain size from a Project</h3>
      <form action="{{ url_for('subset_filter') }}" method='post' >
        
        
        <input type="text" name="url" class="form-control" placeholder="Analytics Project URL" required autofocus>
        <input type="number" name="min_count" class="form-control" placeholder="Remove all subsets with less than this number of values" required>
        <input type="checkbox" name="more"> Remove subsets greater than the inputted value instead of less than<br><br>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Filter"/>
        <br>
        <span id="errorLogin">
           {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
        </span>
      </form>


      
      
      </div>

{% endblock %}