
{% extends "index.html" %}

{% block content %}

	<div class="page-header"><p>
       <h1>Remove Documents from a Project</h1>
    </div>
      

      <div id="content">
      <h3>Remove Documents based on text from a Project</h3>
      <form action="{{ url_for('text_filter') }}" method='post' >
        
        
        <input type="text" name="url" class="form-control" placeholder="Analytics Project URL" required autofocus>
        <input type="text" name="remove" class="form-control" placeholder="Text to filter" required>    
        <input type="checkbox" name="exact"> Find docs only with exact matches of text<br><br>
        Select the documents that we want to filter out of the project:<br>
        <input type="radio" name="reconcile" value="related" checked> Select documents related to the text <br>
        <input type="radio" name="reconcile" value="unrelated"> Select documents unrelated to the text <br><br>
        <input type="text" name="dest_name" class="form-control" placeholder="Desired Destination Project Name">
        <input type="checkbox" name="branch" checked> Branch the filtered documents into above project name<br><br>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Filter"/>
        <br>
        <span id="errorLogin">
           {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
        </span>
      </form>


      
      
      </div>

{% endblock %}