{% extends "index.html" %}

{% block content %}

	<div class="page-header"><p>
       <h1>Concept List Utilities</h1>
    </div>

      <p class="lead">Copy concept lists from one project to another, or delete all concept lists from a project.</p>
      <div id="content">
      <h3>Copy all concept lists from a project to other project(s)</h3>
      <form action="{{ url_for('concept_list_copy') }}" method='post' >
        
        
        <input type="text" name="account" class="form-control" placeholder="account ID: ie. admin" required autofocus>
        <input type="text" name="source_pid" class="form-control" placeholder="project ID: ie. 45kdh3" required>
        <input type="text" name="dest_pids" class="form-control" placeholder="destination project ID(s): e.g. s5kdh3, 34sdh3" required>
        
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Copy"/>
        <br>
        <span id="errorLogin">
           {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
        </span>
      </form>


      
      <h3>Delete all concept lists from project(s)</h3>
      <form action="{{ url_for('concept_list_delete') }}" method='post'>
     
      	<input type="text" name="account" class="form-control" placeholder="account ID: ie. admin" required autofocus>
        <input type="text" name="pids" class="form-control" placeholder="project ID(s): e.g. s5kdh3, 34sdh3" required>
        
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Delete"/>
        <br>
        <span id="errorLogin">
           {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
        </span>
      </form>
      </div>

{% endblock %}