*.pyc
*.swp
*.so
*.pickle
build
dist
pip-log.txt
.achievements
.coverage
.bzr
.bzrignore
.ropeproject
*.sublime-project
_build
.DS_Store
*.tar.gz
env/
tango-icon-theme*
*.profile
*~
*.egg-info
\#*
.project
.pydevproject
.settings/
